.categoriesDiv {
  margin-top: 30px;
}

.categoriesMenu {
  background: #ffffff;
  border: 1px solid #d8d8d8;
}
.categoriesMenuHeading {
  font-family: Lato-Bold;
  font-size: 14px;
  color: #8367d8;
  letter-spacing: 0.49px;
  padding-left: 20px;
  padding-top: 15px;
}
.categoriesList {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0;
}
.categoryItem {
  padding-left: 20px;
  padding-bottom: 23px;
  padding-right: 18px;
}

.categoryItemDiv {
  display: flex;
  justify-content: space-between;
}

.linkCategory {
  font-family: Lato-Regular;
  font-size: 14px;
  color: #252525;
  letter-spacing: 0.49px;
}

.linkCategory:hover {
  cursor: pointer;
  color: #8367d8;
  text-decoration: none;
}

.linkCategoryActive {
  color: #8367d8;
}

.linkCategoryActive:hover {
  color: #8367d8;
  text-decoration: none;
}

a.linkCategory {
  font-family: Lato-Regular;
  font-size: 14px;
  color: #252525;
  letter-spacing: 0.49px;
}

a.linkCategory:hover {
  cursor: pointer;
  color: #8367d8;
  text-decoration: none;
}

a.linkCategoryActive {
  color: #8367d8;
}

a.linkCategoryActive:hover {
  color: #8367d8;
  text-decoration: none;
}

.categoryProductImage {
  width: 100%;
}
.exploreButton {
  width: 250px;
  height: 56px;
  background-color: #8367d8;
  border: none;
  font-family: Lato-Bold;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.63px;
}

.exploreDiv {
  text-align: center;
  margin-top: 50px;
}

div.col-lg-4.col-md-6.col-sm-6.product {
  margin-bottom: 40px;
}

.noMoreDataMessage {
  text-align: center;
  color: #8367d8;
  padding-top: 40px;
}
.priceFilterHeading {
  font-family: Lato-Bold;
  font-size: 14px;
  color: #8367d8;
  letter-spacing: 0.49px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.priceFilter {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  margin-top: 20px;
}

.priceSliderDiv {
  margin-left: 15px;
  margin-right: 20px;
}

.subcategoriesList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.subcategoriesListItem {
  padding-top: 23px;
  padding-right: 18px;
}

.subcategoryItemLink {
  font-family: Lato-Regular;
  font-size: 14px;
  color: #9b9b9b;
  letter-spacing: 0.49px;
}

.subcategoryItemLink:hover {
  color: #8367d8;
  text-decoration: none;
  cursor: pointer;
}

.filterTagBox {
  padding: 5px;
  background-color: #8367d8;
  color: #ffffff;
  width: fit-content;
  border-radius: 13px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}
.filterTagBoxInnerDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 5px;
  padding-right: 5px;
}
.filterTagName {
  text-align: center;
  margin-right: 5px;
}

.row.filterTagDiv {
  width: 100%;
  margin-left: 0 !important;
  margin-bottom: 15px;
}

.row.productOptionsDiv {
  width: 100%;
  margin-left: 0 !important;
  margin-bottom: 20px;
  font-family: Lato-Regular;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
}
.row.productOptionsDiv div.col-lg-4.col-md-6.col-sm-6 {
  padding-left: 0%;
}

.MuiSlider-root {
  color: #8367d8 !important;
}

.MuiSlider-thumb {
  width: 18px !important;
  height: 18px !important;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  margin-top: -8px !important;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  margin-left: -6px;
  border-radius: 100%;
  justify-content: center;
  background-color: currentColor;
  border: 3px solid #ffffff;
}

.MuiSlider-thumb:focus {
  outline: #ffffff !important;
}

.priceFilterDetails {
  font-family: Lato-Regular;
  font-size: 14px;
  color: #9b9b9b;
  letter-spacing: 0.49px;
  margin-left: 15px;
  margin-bottom: 9px;
}

.productImageContainer {
  position: relative;
}
.bidProductHoverDiv {
  opacity: 0;
  position: absolute;
  top: 0;
  background: #ececec;
  background: rgba(131, 103, 216, 0.3);
  width: 100%;
  height: 100%;
  padding-top: 44%;
  padding-bottom: 44%;
}
.bidBtnDiv {
  text-align: center;
  height: 100%;
}
.bidBtn {
  border: none;
  background: #ffffff;
  font-family: Lato-Regular;
  color: #252525;
  letter-spacing: 0.52px;
  line-height: 22px;
  width: 100px;
  height: 100%;
  text-align: center;
}
.gavelIcon {
  margin-left: 5px;
}
.categoryProductImage {
  opacity: 1;
}

.productImageContainer:hover .categoryProductImage {
  opacity: 0;
}
.productImageContainer:hover .bidProductHoverDiv {
  opacity: 1;
}

.chosenSortTypeDiv {
  background: #ffffff;
  border: 3px solid #ececec;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 10px;
}
.sortingTypesList {
  background: #ffffff;
  border: 3px solid #ececec;
}
.sortingTypesDiv {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-right: 15px;
}
.sortingTypesItem {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
}

.sortingTypesItem:hover {
  cursor: pointer;
  background-color: #8367d8;
  color: #ffffff;
}

.closeOpenSortDivIcon:hover {
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1250px) {
  .bidProductHoverDiv {
    padding-top: 41%;
    padding-bottom: 41%;
  }
}

@media (max-width: 767.5px) {
  .categoriesMenu {
    width: 100%;
    text-align: center;
  }
  .row.productOptionsDiv {
    margin-top: 20px;
  }
  .row.categoriesRow {
    display: flex;
    flex-direction: column;
  }
  .row.categoriesRow div.col-lg-12.col-md-12.col-sm-12.categories {
    order: 2;
    margin-top: 30px;
    padding-right: 3px;
    padding-left: 23px;
  }
  .row.categoriesRow div.col-lg-3.col-md-4.col-sm-12.categories {
    order: 1;
  }
  .row.categoriesRow div.col-lg-9.col-md-8.col-sm-12.categories {
    order: 3;
  }
}

@media (max-width: 575.5px) {
  .categoriesMenu {
    width: 100%;
    text-align: initial;
  }
  div.col-lg-3.col-md-4.col-sm-12.categories {
    padding-right: 0%;
  }
  div.col-lg-9.col-md-8.col-sm-12.categories {
    padding-right: 0%;
  }
  div.col-lg-4.col-md-6.col-sm-6.product {
    padding-right: 0%;
  }
  .categoryProductImage {
    width: 100%;
  }
  div.col-lg-8.categoriesColumn {
    padding-right: 0%;
  }
}
