.homeHeadingMenuHeading {
  font-family: Lato-Bold;
  font-size: 16px;
  color: #8367d8;
  letter-spacing: 0.56px;
  padding-left: 20px;
  padding-top: 17px;
}

.menucategoriesList {
  list-style-type: none;
  padding-left: 0px;
}
.menuCategoriesItem {
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  border-bottom: 1px solid #ececec;
}

.menuAllCategoriesItem {
  padding-top: 15px;
  padding-left: 20px;
}
