.pageHeadingDiv {
  background-color: #fafafa;
  height: 60px;
  padding-top: 18px;
}

.pageHeadingTitle {
  font-family: Lato-Regular;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
}
.pageHeadingTitle.right {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.headingTitleDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.row.pageHeadingDivRow {
  background-color: #fafafa;
}
.didYouMeanValue {
  font-family: Lato-Regular;
  font-size: 18px;
  color: #8367d8;
  letter-spacing: 0.63px;
}
.didYouMeanMessage {
  font-family: Lato-Regular;
  font-size: 18px;
  color: #9b9b9b;
  letter-spacing: 0.63px;
}

@media (max-width: 575.5px) {
  .pageHeadingTitle.right {
    padding-right: 0;
    display: block;
    justify-content: start;
  }
}
