.navbar-expand {
  flex-flow: row nowrap;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.upperBlack {
  background-color: #252525 !important;
  justify-content: center;
  padding: 0;
  height: 40px;
}

.firstNav {
  justify-content: space-between;
  height: 40px;
  flex: 1;
}

.socialMediaLinks {
  display: flex;
  justify-self: start;
  padding: 0;
  align-items: center;
  height: 100%;
}

.registerLogin {
  display: flex;
  justify-self: end;
  padding: 0;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.socMediaList {
  padding-bottom: 0%;
  padding-top: 0%;
  display: flex;
  list-style-type: none;
  margin: 0%;
  padding-left: 0%;
}
.listItem {
  padding-right: 10%;
  color: #d8d8d8;
}

.listItem:hover {
  cursor: pointer;
}
.upperLink {
  color: #ffffff;
  font-family: "Lato-Regular";
  padding-right: 3px;
}

.upperLink:hover {
  color: #8367d8;
  text-decoration: none;
}

.disabledLink {
  color: #9b9b9b;
  font-family: "Lato-Regular";
  padding-right: 15px;
  padding-left: 15px;
}
.disabledLink:hover {
  color: #9b9b9b;
  font-family: "Lato-Regular";
  text-decoration: none;
  cursor: default;
}
div.row.navBlack {
  width: 100%;
}

div.row.firstNavRow {
  width: 100%;
}

div.row.firstNavRow div.col-lg-6 {
  height: 100%;
}
